body {
	font-family: "Maven Pro", sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    font-size: 1.2em;
    /*font-size: 10vw;*/
    box-sizing: border-box;
}

* {
	box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6, div, p, ul {
	margin: 0;
	padding: 0;
}

.container {
	margin:0 auto;
	/*max-width:1040px;*/
	max-width:1170px;
	padding: 0 20px;
	width: 100%;
	box-sizing:	border-box;	
}


.pull-right {
    float: right!important;
}

.pull-left{
	float: left!important;
}

.img-responsive, 
.thumbnail>img,
.thumbnail a>img, 
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
}

.clear {
	clear: both;
}

.grid {
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	padding: 5px 0 5px 10px;
	display: flex;
}

.grid__with-gutters {
	/*margin-left: -8px;*/
}

.grid__col{
	float: left;
}

.grid__col--1 {
	width: 8.3333%;
}
.grid__col--2 {
	width: 16.6667%;
}

.grid__col--3 {
	width: 25%;
}

.grid__col--4 {
	width: 33.3333%;
}

.grid__col--5 {
	width: 41.6667%;
}

.grid__col--6 {
	width: 50%;
}

.grid__col--7 {
	width: 58.3333%;
}

.grid__col--8 {
	width: 66.6667%;
}

.grid__col--9 {
	width: 75%;
}

.grid__col--10 {
	width: 83.3333%;
}

.grid__col--11 {
	width: 91.6667%;
}

.grid__col--12 {
	width: 100%;
}

.global-nav__logo {
	color: #fff;
	text-decoration: none;
}
.global-header {
	background-image: url("../images/head_bg.png");
	overflow: hidden;
	min-height: 400px;
	/*height: 100vh;*/
} 
.global-nav__left {
	float: left;
}
.global-nav__logo {
	display: inline-block;
	margin-top: 15px;
}

.global-nav__right {
	float: right;
}

.global-nav__menu {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	-webkit-transition: max-height 0.5s;
	-moz-transition: max-height 0.5s;
	-ms-transition: max-height 0.5s;
	-o-transition: max-height 0.5s;
	transition: max-height 0.5s;
}

.global-nav__item {
	float: left;
	line-height: 55px;
}

.global-nav__item--links {
	text-decoration: none;
	font-size: .8em;
	height: 55px;
	display: block;
	color: #ffffff;
	padding: 5px 10px;
}
.global-nav__item--links.hover {
	color: #aab7be;
}
.global-nav {
	    border-bottom: solid 1px rgba(255,255,255,0.088);
	    margin-bottom: 50px;
}

.global-header__intro--title {
	font-family: "Maven Pro", sans-serif;
	margin: 0 0 20px;
    padding: 0;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.27;
    text-align: center;
    color: #ffffff;
}

.global-header__intro {
	padding-bottom: 20px;
}

.global-header__intro--subtitle {
	font-family: "Maven Pro", sans-serif;
	padding: 0;
    margin: 0 0 32px;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.75;
    text-align: center;
    color: #ffffff;
}
.global-header__cto {
	text-align: center;
	padding-top: 30px;
}
.button {
	display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    max-width: unset;
    min-width: unset;
    margin: 0;
    cursor: pointer;
    font-family: inherit;
}
.button--green {
    color: #ffffff;
    background-color: #3bb75e;
    border-color: #3bb75e;
    background: #569E3D linear-gradient(#79D858, #569E3D) repeat-x;
    font-weight: normal;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.13);
    transition: box-shadow 80ms cubic-bezier(0.6, 0.1, 0.4, 0.9), 
    background-color 80ms cubic-bezier(0.6, 0.1, 0.4, 0.9);
}

.button--green:hover {

    color: #ffffff;
    background-color: #3bb75e;
    border-color: #3bb75e;
    background: #569E3D linear-gradient(#569E3D, #79D858) repeat-x;
    font-weight: normal;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.13);
    transition: box-shadow 80ms cubic-bezier(0.6, 0.1, 0.4, 0.9),
    background-color 80ms cubic-bezier(0.6, 0.1, 0.4, 0.9);
}

.button--default {
	color: #576f7f;
	border-radius: 3px;
	padding: 7px 12px;
	border: 1px solid #D5D5D5;
	background-image: linear-gradient(#EEE, #DDD);
	font-weight:normal;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.06);
    transition: box-shadow 80ms cubic-bezier(0.6, 0.1, 0.4, 0.9), 
    background-color 80ms cubic-bezier(0.6, 0.1, 0.4, 0.9);
    background-size: auto 56px;
}

.button--default:hover {
	background-image: linear-gradient(#DDD, #EEE);
}

.button--large {
	border-radius: 3px;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    padding:	0 1.5em;
}

.button--small {
	border-radius: 3px;
    font-size: 14px;
    height: 42px;
    line-height: 42px;
    padding:	0 1.2em;
}


.page-section {
	background: #fff;
	border-bottom: 1px solid #e3e9ef;
	position: relative;
}

.page-section--services {
	background: #f7f9fb;
}

.page-section__description {
	/*color: rgba(33, 42, 62, 0.5);*/
	color: #aab7be;
}


.page-section-header {
	padding-top: 32px;
	padding-bottom: 32px;
	text-align: center;
}
.page-section-header__primary-title {	
    color: #0e304b;
    font-size: 48px;
    margin-bottom: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.01rem;
}

.page-section-header__secondary-title {
	/*color: #aab7be;*/
	color: #000;
}

.page-section--products {
	padding-bottom: 30px;
}

.page-section--products-divider {
	border-bottom: 1px solid #e3e9ef 
}

.feature-services {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 3px 12px -2px rgba(0,0,0,0.08);
    margin: 10px;
    margin-bottom: 30px;
    padding: 30px 25px 25px;
    text-align: center;
}

.feature-services__icon {
    margin: 0 auto;
    width: 45px;
    height: 45px;
}

.feature-services__title {
    color: #011b33;
    font-size: 1.3rem;
    margin-bottom: 0;
    margin-top: 10px;
}

.feature-services__description {
    font-size: 1rem;
    line-height: 1.3;
    margin-bottom: 0;
    margin-top: 10px;
}

.svg {
    display: inline-block;
    height: 50px;
    width: 50px;
}

 .svg--training {
    background: url(../images/icons/graduation.svg) 70% 100% no-repeat;
}
 .svg--responsive {
    background: url(../images/icons/responsive2.svg) 70% 100% no-repeat;
}

.svg--publication {
    background: url(../images/icons/publication.svg) 70% 100% no-repeat;
}


.page-section--products {
	
}

.feature-product {
	font-size: 1rem;
	margin: 10px;
	margin-bottom: 30px;
	/*box-shadow: 0 3px 12px -2px rgba(0,0,0,0.09);*/
}

.feature-product__name {
    color: #0e304b;
	display: block;
	line-height: 1.3rem;
	text-transform: uppercase;
	font-size: 1.3rem;
	margin-bottom: 1rem;
}

.feature-product__description {
	font-size: 1rem;
    line-height: 1.3;
    /*color: #aeaeae;*/
    /*color: #aeaeae;*/
}


.feature-product__button-container {
    padding-top: 20px;
}

.feature-product__image {
	/*position: relative;*/
	padding: 0 10px;

}

img {
    vertical-align: middle;
}

.page-section__partners {
	background: #f4f5f5;
}

.partners__brand {
	background: transparent;
	margin: 10px 10px 30px 0;
}

.contact-button {
	text-align: center;
	margin-bottom: 30px;
}

.page-section-footer {
	background-image: url("../images/head_bg.png");
	color: #fff;
	font-size: .8em;
	line-height: 1.3;
	font-weight: normal;
	padding-top: 30px;
}

.page-section-footer__title {
	margin: 20px 20px 5px 0;
	padding-bottom: 5px;
	font-size: 18px;
	border-bottom: solid 1px rgba(255,255,255,0.088);
}

.page-section-footer__menu {
	list-style-type: none;
}

.page-section-footer__item {
	line-height: 1.3;
}

.page-section-footer__link {
	text-decoration: none;
	line-height: 1.6;
	color: inherit;
}
.page-section-footer__link:hover {
	color: #aab7be;
}


.page-section-footer__copyright {
	margin-top: 30px;
	padding: 20px 0;
	text-align: center;
	font-size: inherit;
	line-height: 1.6;
	border-top: solid 1px rgba(255,255,255,0.088);
}

/*.handle {
	width: 100%;
	cursor: pointer;
	color: #fff;
	font-size: .9em;
    padding: 20px 10px;
    box-sizing:border-box;
    text-align: right;
    display: none;
}*/

.hamburger {	
	background-color: white;
	cursor: pointer;
    display: none;
    height: 0.125em;
    margin-bottom: .250em;
    position: relative;
    top: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 1.25em;
    box-sizing:border-box;
}


/*media queries go here*/

@media screen and (max-width: 699px){

	body {
	    font-size: 1.2em;
	}

	.global-nav__menu {
		max-height: 0;
	}

	.show {
		max-height: 20em;
	}
	.global-nav__left {
		display: block;
	    width: 100%;
	    text-align: center;
	    /*float: left;	    */
	}

	.global-nav__right {		
		text-align: right;
		width: 100%;
		
	}
	.global-nav__item {
		width: 100%;
		box-sizing: border-box;
		
	}

	.global-nav__item--links {
		height: 50px;
	}

	/*.handle {
		padding-left: 0;
		display: block;		
	}*/

	.hamburger {
	    display: block;
	    padding-top: 2px; 
	}

}

@media all and (max-width: 789px) {
	.grid__col--4 {
		width: 100%;
	}

	.feature-services {
		display: block;
		width: 100%;
	}
}

@media all and (max-width: 1105px){

	.grid {
		display: inline-block;
		width: 100%;
		box-sizing: border-box;
		display: flex;
}








